.nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em; 
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.nav-links-right {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links-right a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}


.nav-link:hover, .nav-links-right a:hover {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 1em;
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.home h1 {
  color: black;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.home h2 {
  color: black;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 2em;
}

.home-links {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.link-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: rgb(128 128, 128);
}

.footer {
  background-color: grey;
  color: black;
  text-align: center;
  padding: 1em;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1em;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.login-container h1 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.login-container input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.login-container input[type="submit"] {
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
  background-color: white;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.register-container h1 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container label {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.register-container input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.register-container input[type="submit"] {
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container input[type="submit"]:hover {
  background-color: white;
}

.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.logout-container h1 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.logout-container p {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.logout-container button {
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-container button:hover {
  background-color: white;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.profile-container h1 {
  color: black;
  font-size: 2em;
  margin-bottom: 1em;
}

.image-upload-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.image-upload-container h2 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.image-upload-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-upload-container input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.image-upload-container button {
  background-color: rgb(74, 73, 73);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1em;
}

.image-upload-container button:hover {
  background-color: rgb(128 128, 128);
}
.view-history-button {
  color: rgb(0, 0, 0);
  background-color: rgb(74, 73, 73);
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 1em;
  display: inline-block;
}

.view-history-button:hover {
  background-color: rgb(128 128, 128);
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.history-container h2 {
  color: black;
  font-size: 2em;
  margin-bottom: 1em;
}

.history-container p {
  color: black;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.history-image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 1em;
}

.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  list-style-type: none; 
  padding: 0; 
}

.image-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1em;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.image-show-container h2 {
  color: black;
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.image-show-container p {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.image-show-container img {
  max-width: 80%; /* This will constrain the width */
  max-height: 500px; /* This will constrain the height */
  object-fit: cover; /* This will make sure the image scales nicely */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 1em;
}

.image-show-container .image-details {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: 1em;
  text-align: center;
}

.image-show-container .image-loading {
  color: black;
  font-size: 1.2em;
  margin-top: 2em;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.navigation-buttons a {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1em 1.5em;
  font-size: 0.9em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation-buttons a:hover {
  background-color: rgb(128, 128, 128);
}

.image-details button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 1em 1.5em;
  font-size: 0.9em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-details button:hover {
  background-color: rgb(128, 128, 128);
}



